<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Home</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="estilo_home.css">
                    <link rel="stylesheet" href="estilo_caixa_edicao.css">
                        <link href="http://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
                            <link href="http://fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>
                                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel|Sacramento">
                                    
                                    </head>
    <body>
        <div id="cont_edit" class="escondido"> </div>
        <div id="editar_conteudo" class="escondido">
            <button type="button" id="fechar_edicao">×</button>
            <div id="head_edicao">
                <h1> Editar Lembrete </h1>
            </div>
            
            <div id="body_edicao">
                <table>
                    
                    <tr>
                        <td><p> Data: </p></td>
                        <td><input type="date" id="data_edit" name="data"></td>
                    </tr>
                    <tr>
                        <td><p> Importância: </p></td>
                        <td><select id="importancia_edit" name="importancia_edit" value="Normal">
                            <option value="imp_normal">Normal</option>
                            <option value="imp_alta">Muito importante</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><p> Título: </p></td>
                        <td><input type="text" id="titulo_edit" name="titulo_edit"></td>
                    </tr>
                    <tr>
                        <td><p> O que fazer: </p></td>
                        <td><textarea id="lembrete_edit" name="lembrete_edit"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type="button" id="modificar" value="Pronto!"></td>
                    </tr>
                </table>
            </div>
        </div>
        
        
        
        <header>
            <div class="top_cabecalho" id="top_left">
                <p> Próximos Eventos </p>
            </div>
            
            <div class="top_cabecalho" id="top_right">
                <p> Bem-vindo, {{username}} </p>
                <form id="log_out" action="logout" method="GET">
                    <button type="submit" name="logout" id="logout"></button>
                </form>
            </div>
                <div id="papeis">
                    {{#each compromissos2}}
                    <div id="{{_id}}" name="paper_sticker" class="paper_sticker {{importancia}}">
                        <p id="data_evento_{{_id}}"> <b>{{data}} </b> </p>
                        <p id="titulo_evento_{{_id}}"> {{titulo}} </p>
                        <p id="lem_evento_{{_id}}" class="escondido"> {{lembrete}} | {{data_add}}</p>
                        <button type="button" id="botao_excluir_{{_id}}" name="botao_excluir" class="botao_excluir"></button>
                        <button type="button" id="{{_id}}" name="botao_editar" class="botao_editar"></button>
                    </div>
                    {{/each}}
                </div>
                
                </header>
        
        <nav>
            
            <div id="agenda">
                <h1> Minha agenda </h1>
                <table id="compromissos">
                    
                    <colgroup id="col1">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col2">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col3">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col4">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col5">
                        <col/>
                    </colgroup>
                    
                    <thead>
                        <th>Data</th>
                        <th>Resumo</th>
                        <th></th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </thead>
                    <tbody id="tabela_agenda">
                        {{#each compromissos1}}
                        <tr id="{{_id}}">
                            
                            <td id="data_evento_{{_id}}" class="{{importancia}}">{{data}}</td>
                            <td><div id="titulo_evento_{{_id}}" class="{{importancia}}">{{titulo}}</div> <div id="lem_evento_{{_id}}" name="desc" class="desc retraido">{{lembrete}} | {{data_add}}</div></td>
                            <td><button type="button" name="botao_detalhes" class="botao_detalhes">+</button></td>
                            <td><button type="button" id="{{_id}}" name="botao_editar" class="botao_editar"></button></td>
                            <td><button type="button" id="botao_excluir_{{_id}}" name="botao_excluir" class="botao_excluir"></button></td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
            <div id="compor">
                <form id="comporlem" action="compor_lembrete" method="POST">
                    <h1> Compor Lembrete </h1>
                    <p> Data / Importância</p>
                    <input type="date" id="data" name="data">
                        <select id="importancia" name="importancia" value="Normal">
                            <option value="imp_normal">Normal</option>
                            <option value="imp_alta">Muito importante</option>
                        </select>
                        <p> Título </p>
                        <input type="text" id="titulo" name="titulo">
                            <p> O que fazer </p>
                            <textarea id="lembrete" name="lembrete"></textarea>
                            <input type="submit" id="adicionar" value="+">
                                </form>
                <div>
                    
                    </nav>
        
        <script src="home.js"></script>
    </body>
</html>
