                <table id="thistorico">
                    
                    <colgroup id="col1a">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col2a">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col3a">
                        <col/>
                    </colgroup>
                    
                    <colgroup id="col4a">
                        <col/>
                    </colgroup>
                    
                    
                    <thead>
                        <th>Data</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Concluído?</th>
                    </thead>
                    <tbody id="tabela_historico">
                        {{#each compromissos_concluidos}}
                        <tr id="thist_{{_id}}">
                            
                            <td id="tdata_evento_{{_id}}">{{data}}</td>
                            <td class="col_tit"><div id="ttitulo_evento_{{_id}}">{{titulo}}</div></td>
                            <td class="col_lemb"><div id="tlem_evento_{{_id}}">{{lembrete}} | {{data_add}}</div></td>
                            <td class="col_status"><div id="evento_concl_{{_id}}">{{status}}</div></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>